
<div class="flex">
  <!-- <div class="container"> -->
  <div *ngFor="let item of itemsOnList">
    <h2 style="color: black"> {{item.label}}</h2>
    <div *ngFor="let col of item.columns">
      <div *ngFor="let sec of col.sections">
            <div *ngFor="let r of sec.rows; let i=index" (mouseup)="handleMouseUp(i)"
          (mousedown)="handleMouseDown(i)" style="border:1px">
          <div class="container" dragula="VAMPIRES" [(dragulaModel)]="r.cells">
            <div class="cell" *ngFor="let cell of r.cells; let i=index" (click)="clickIt(i)">
             {{cell}}<br>
             <input type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="button" (click)="saveChanges()">Save</button><br>
  </div><br>
  <!-- </div> -->
</div>

 
<router-outlet></router-outlet>